<template>
  <div v-if="dailyVisitors.length">
    <div class="datepicker__right">
      <div :class="{'active' : isChangingDate }" class="box box__has-hover" @click="isChangingDate = !isChangingDate">
        <h4>
          {{ range.startDate.format('YYYY-MM-DD') }} - {{ range.endDate.format('YYYY-MM-DD') }} 
          <i class="fas fa-arrow-down"></i>
        </h4>
      </div>
      <date-range 
        v-if="isChangingDate" 
        class="calendar" 
        v-model="range" 
        lang="en" 
        @change="rangeChanged" 
        :first-day-of-week="1"
        month-year-format="MMMM - YYYY"
        :days-disabled-start="moment()">
      </date-range>
    </div>
    <visitor-graph :chart-data="graphData" :options="graphOptions" :width="740" :height="400"></visitor-graph>
    <div class="box box__left">
      <h4>Average sessions per day</h4> <h3>{{ parseInt(averageSessions, 10) }}</h3>
    </div>
    <div class="box box__right">
      <h4>Direct traffic</h4> <h3>{{ parseInt(directPercentage, 10) }}%</h3>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import { DateRange } from 'vue-date-range';
import VisitorGraph from './VisitorGraph';
import gOptions from '../graph-options';
import api from '../api';

export default {
  components: { VisitorGraph, DateRange },
  computed: {
    graphData() {
      return {
        labels: this.dailyVisitors.map(item => item.date),
        datasets: [
          {
            label: 'Sessions',
            yAxisID: 'visitors',
            pointBorderWidth: 8,
            borderColor: '#500e7d',
            backgroundColor: 'rgba(0,0,0,0)',
            data: this.dailyVisitors.map(item => item.visitors),
          }, {
            label: 'Direct traffic %',
            borderColor: '#fff',
            yAxisID: 'direct',
            pointBorderWidth: 8,
            backgroundColor: 'rgba(0,0,0,0)',
            data: this.dailyVisitors.map(item => (item.direct / item.visitors) * 100),
          },
        ],
      };
    },
    totalVisitors() {
      return this.dailyVisitors
                 .map(item => item.visitors)
                 .reduce((a, b) => parseInt(a, 10) + parseInt(b, 10));
    },
    averageSessions() {
      return this.totalVisitors / this.dailyVisitors.length;
    },
    directPercentage() {
      return (this.dailyVisitors
                 .map(item => item.direct)
                 .reduce((a, b) => parseInt(a, 10) + parseInt(b, 10)) / this.totalVisitors) * 100;
    },
  },
  data() {
    return {
      view: '76988010',
      moment,
      isChangingDate: false,
      dailyVisitors: [],
      graphOptions: gOptions,
      max: 0,
      min: 0,
      range: {
        startDate: moment().subtract(7, 'days'),
        endDate: moment(),
      },
    };
  },
  mounted() {
    this.visitsPerDay();
  },
  methods: {
    visitsPerDay() {
      this.$emit('showLoader', true);
      api.fetch(this.view, this.range.startDate, this.range.endDate).then((results) => {
        this.max = parseInt(results[0].data.maximums[0].values[0], 10);
        this.min = parseInt(results[0].data.minimums[0].values[0], 10);

        this.dailyVisitors = results[0].data.rows.map(row => ({
          date: moment(row.dimensions[0]).format('YYYY-MM-DD'),
          visitors: row.metrics[0].values[0],
          direct: row.metrics[0].pivotValueRegions[0].values[0],
        }));
        this.$emit('hideLoader', true);
      });
    },
    rangeChanged() {
      this.isChangingDate = false;
      this.visitsPerDay();
    },
  },
};
</script>

<style>
  .datepicker__right {
    width: 400px;
    float: right;
    text-align: right;
  }

  .datepicker__right .box svg {
    transition: all 200ms ease;
  }
  .datepicker__right .box.active svg {
    transform: rotate(180deg);
  }

  .box__left {
    width: 25%;
    float: left;
  }

  .box__right {
    width: 25%;
    float:right;
  }

  .calendar {
    width: 400px;
    font-size: 12px;
    height: auto;
    box-shadow: 0px 0px 12px 0px #ccc;
    position: absolute;
  }

  .ayou-day-cell.in-range .solar {
    background-color: #500f7c !important;
  }

  .ayou-calendar .month-year .month-arrow {
    border-top: 1px solid #4f0e7b !important;
  }

  .month-arrow.month-arrow-next {
    border-right: 1px solid #4f0e7b !important;
  }

  .month-arrow.month-arrow-prev {
    border-left: 1px solid #4f0e7b !important;
  }
</style>