<template>
  <div id="app">
    <div class="loading" v-if="loading"><i class="fas fa-spinner fa-5x fa-spin"></i></div>
    <img class="logo" src="./assets/sail-logo-white.png">
    <div v-if="isLoggedIn">
      <graph-and-stats @showLoader="loading = true" @hideLoader="loading=false" :user="user"></graph-and-stats>
    </div>
    <div v-else>
      <a href="#" class="box box__has-hover" @click="login()">
        <i class="fas fa-chart-line"></i> 
        Login using your Google Analytics connected account </a>
    </div>
  </div>
</template>

<script>
import GraphAndStats from './components/GraphAndStats';

export default {
  name: 'app',
  components: { GraphAndStats },
  data() {
    return {
      isLoggedIn: false,
      user: null,
      loading: false,
    };
  },
  methods: {
    login() {
      this.loading = true;
      this.$googleAuth().directAccess();

      this.$googleAuth().signIn((user) => {
        this.isLoggedIn = true;
        this.user = user;
        this.loading = false;
      }, (error) => {
        console.error(error);
        this.loading = false;
      });
    },
  },
};
</script>

<style>
  body {
    background-color: #6483ee;
    color: #fff;
  }
  #app {
    width: 1080px;
    margin: 60px auto;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  h4 {
    margin: 0px;
  }

  a {
    text-decoration: none;
  }

  .box {
    padding: 0.5em 1.2em;
    border-radius: 0.15em;
    background: rgba(255, 255, 255, 0.25);
    color: white;
    font-size: 15pt;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .logo {
    margin-bottom: 50px;
  }

  .box__has-hover {
    cursor: pointer;
    transition: all 200ms ease;
  }

  .box__has-hover:hover, .box__has-hover.active {
    background: #996fcc;
  }

  .loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
</style>
